* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer {
    justify-content: right !important;
    width: 100% !important;
    background: #2C3E50;
    padding-left: 100px;
}

.content-bold {
    color: #838B94 !important;
}

.card {
    z-index: 0;
    border: 0 !important;
    background: #2C3E50 !important;
    display: flex;
    flex-direction: column;
    color: #B16567;
    gap: 5px;
    justify-content: center;
}

.card-content {
    background: #2C3E50;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #FFFFFF;
}

.nav-bar {
    padding-left: 100px;
    padding-right: 100px;
    z-index: 100;
    display: flex;
    justify-content: space-between;

}

.cart-holder {
    position: relative;
}

footer {
    justify-content: right !important;
    padding-left: 20px;
    min-width: 100% !important;
    max-width: 100% !important;
    margin: 0 !important;
    width: 100% !important;
    background: #2C3E50;
    bottom: 0;
}

.nav-link-holder {
    gap: 5px;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    width: fit-content;
}

a {
    text-decoration: none;
}

.nav-link-holder a {
    position: relative;
    display: inline-block;
    padding: 10px;
    text-decoration: none !important;
    color: black !important;
    transition: all 0.3s ease;
}

.nav-link-holder a:hover {
    color: black !important;
    text-decoration: none !important;
    border: 1px solid white;
    transform: scale(1.05);

}

.cart-number {
    color: black;
    position: absolute;
    font-size: 1.5rem;
    top: -20px;
    left: 24px;
    background: yellow;
    border-radius: 50%;
    width: 20px;
    justify-content: center;
    display: flex;
}

.cart {
    color: white !important;
    font-size: 2rem;
}

body {
    background: grey;
}

header {
    background: linear-gradient(135deg, #ff6b6b, #ff8e8e);
    padding: 30px;
    color: whitesmoke;
    box-sizing: border-box;
    top: 0;
    position: sticky;
    box-shadow: 0 5px 7px black;
}

.link-button {
    cursor: pointer;
    display: none;
    gap: 10px;
    flex-direction: column;
}

.link-button span {
    border: 5px solid black;
    width: 5px;
    height: 5px;
    border-radius: 100%;
}

/*.nav-link-holder a {*/
/*    position: relative;*/
/*    display: inline-block;*/
/*    padding-bottom: 5px;*/
/*    text-decoration: none;*/
/*    color: black;*/
/*}*/

.nav-link-holder a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: black;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}


@media screen and (max-width: 1065px) {
    .nav-link-holder {
        transition: max-height 0.4s ease;
        border: 00px solid black;
        top: 120px;
        background: linear-gradient(135deg, #145DA0, #0C2D48);
        justify-content: left;
        width: 100.1%;
        display: none;
        flex-direction: column;
        font-size: large;
        /*height: max-content;*/
        padding: 10px;
        position: absolute;
        left: -1px;
    }

    .nav-link-holder.active {
        max-height: 370px;
        transition: height ease-in 0.5s;
        display: flex;
    }

    .nav-link-holder a:hover {
        position: relative;
        border: 00px solid black;
        color: black !important;
        text-decoration: none !important;
        transform: scale(1);

    }

    .nav-link-holder a:hover::after {
        transform: scaleX(1);
    }

    .link-button {
        display: flex;
    }
}