.whole{
    display: flex;
    /*flex-direction: column !important;*/
    width: 100% !important;
    min-width: 100% !important;
    max-width: 100% !important;
}
.first-slide{
     background: linear-gradient(135deg, #717ADD, #6F5AAD);
    justify-content: center;
    align-items: center;
    align-content: center;
     /*flex: 1;*/

}