<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/login.css') }}">
</head>
<body>
    <div class="login-container">
        <h2>Make  Your website</h2>
        <form action="/install" method="POST">
            <label for="Name">Website Name</label>
            <input type="text" id="Name" name="Name" required/>

            <label for="Logo">Logo</label>
            <input type="file" id="Logo" name="Logo" required/>

            <label for="Template">Template</label>
            <input type="text" id="Template" name="Template" required/>

            <label for="Receiver">Receiver Email</label>
            <input type="text" id="Receiver" name="Receiver" required/>

            <label for="smtp_user">smtp_user</label>
            <input type="text" id="smtp_user" name="smtp_user" required/>

            <label for="smtp_pass">smtp_pass</label>
            <input type="password" id="smtp_pass" name="smtp_pass" required/>

            <label for="smtp_port">smtp_port</label>
            <input type="password" id="smtp_port" name="smtp_port" required/>

            <label for="smtp_server">smtp_server</label>
            <input type="password" id="smtp_server" name="smtp_server" required/><label for="smtp_server">smtp_user</label>
            <button type="submit">done</button>
        </form>
    </div>
</body>
</html>